@import '../../../../style/theme.scss';

.search {
    height: 40px;
    width: 100%;
    max-width: 320px;
    border-radius: 8px;
    padding: 0.5rem 0.75rem 0.5rem  0.75rem;
    align-self: end;
    border: 1px solid $gray-border;
}