@import '../../../../style/theme.scss';

.menu__wrapp {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 40px;
    gap: 8px;
    input:nth-child(3):focus {
        outline:none;
    }
    label::after {
        content: "Размер логотипа 500x500 px PNG, JPG, JPEG";
        position: absolute;
        top: 30px;
        left: -250px;
        width: 270px;
        height: 20px;
        color:#737680;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        cursor: auto;
    }
    input,button {
        width: 314px;
        height: 40px;
        border-radius: 8px;
        border: 0px solid #000;
    }
    button{
        background-color: $btn-bgc-border;
        color: $active-nav;
    }
    input {
        padding: 10px 12px 10px 12px;
        border: 1px solid $gray-border;
        z-index: 0;
    }
    label {
        cursor: pointer;
        z-index: 1;
        position: absolute;
        left: 570px;
        top: 13px;
        background-image: url('../../../../assets/icon/paperClip.svg');
        width: 16px;
        height: 16px;
        input:nth-child(1) {
            display: none;
        }
    }
  
}
// .menu__wrapp::after {
//     content: "Размер логотипа 500x500 px PNG, JPG, JPEG";
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     width: 100px;
//     height: 20px;
// }