@import '../../../../style/theme.scss';

.products__btn {
    background-color: $btn-bgc-border;
    border-radius: 8px;
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    border: 0px solid $background-black;
    font-family: Inter ;
    width: 100%;
    span {
        color: $active-nav;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }
}