@import '../../../../style/theme.scss';

.filter {
    display: flex;
    align-items: center;
    max-width: 959px;
    height: 32px;
    align-self: end;
    
    input {
        width: 28px;
        text-align: center;
    }
    select {
        margin-left: 0.5rem;
        width: auto;
    }
    input, select, button {
        border: 1px solid $gray-border;
        height: 32px;
        border-radius: 4px;
    }
    button {
        height: 32px;
        width: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    span:nth-child(3) {
        margin-left: 1rem;
    }
    input:nth-child(4) {
        margin-left: 0.5rem;
    }
    span:nth-child(5) {
        margin-left: 0.25rem;
    }
    button:nth-child(6) {
        margin-left: 1rem;
    }
}