@import '../../../src/style/theme.scss';

.nav__item {
    width: 185px;
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0.625rem;
    border-radius: 6px;
    svg {
    width: 24px;
    height: 24px;
   }
   p {
    margin-left: 0.625rem;
   }
 
}

.active {
    background-color: $active;
    p {
        color: $active-nav;
    }
    svg path{
        fill: $active-nav;
    }
}



