@import '../../../../../style/theme.scss';

.list__item {
    display: flex;
    align-items: center;
    height: 68px;
    border-bottom: 1px solid $gray-border;
 
    li {
        padding: 10px 8px 10px 8px;
    }

    li:nth-child(1) {
        width: 100%;
        max-width: 320px;
    }

    li:nth-child(2) {
        width: 100%;
        max-width: 320px;
    }   

    li:nth-child(3) {
        width: 100%;
        max-width: 320px;
    }

}

