$main-color: #121212;
$text-main: #434652;
$active: #C06ECC;
$active-nav: white;
$gray-space: #EBECEF;
$gray-text: #999;
$gray-border: #D0D3DA;
$background-black:  rgba(0, 0, 0, 0.70);
$gray-span: #737680;
$btn-bgc: #C06ECC;
$btn-bgc-border: #BD68CA;
$gray-space-card: #F8F8FA;
$gray-text: #37393D;
$box-shadow: 0px 0px 1px 0px rgba(76, 93, 112, 0.30), 0px 4px 8px 0px rgba(76, 93, 112, 0.30);
