@import '../../../style/theme.scss';

span, select, input {
    color: $text-main;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 14px;
} 

.wrapp {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 959px;
    padding: 1.5rem;
    gap: 24px;
    
}

.search-panel {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 959px;
    gap: 24px;
}