@import '../../../../style/theme.scss';

.header__list {
    display: flex;
    font-weight: 500;
    color: $gray-span;
    border-top: 1px solid $gray-space;
    border-bottom: 1px solid $gray-space;
    background-color: $gray-space-card;
    padding:  0.625rem 0.5rem 0.625rem 0.5rem;
    li:nth-child(1) {
        max-width: 165px;
        width: 100%;
    }
    li {
        font-size: 14px;
    }
}